pillow==11.1.0
opencv-python==4.11.0.86
torch==2.6.0
torchvision==0.21.0
torchmetrics==1.6.2
torchsummary==1.5.1
scikit-learn==1.6.1
tqdm==4.67.1
wandb==0.19.8
grad-cam==1.5.4
shortuuid==1.0.13
gdown==5.2.0
matplotlib==3.9.4